/* ------------ media queries ------------*/
/* ------------ utilities ------------*/
/* ------------ variables ------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
/* ------------ maps ------------*/
.font--h1 {
  font-size: 3.5rem; }

.font--h2 {
  font-size: 1.9rem; }

.font--hdescrip {
  font-size: 1.3rem; }

.font--h3 {
  font-size: 0.8rem; }

.font--h4 {
  font-size: 0.65rem; }

.font--terc {
  font-size: 0.45rem; }

.destinos-destacados h2, .recomendaciones h2 {
  display: flex;
  font-family: 'Poppins';
  font-family: "Poppins", sans-serif;
  font-size: 1.9rem;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  padding: 40px; }

.destinos-destacados .destinos-destacados--opciones, .recomendaciones .recomendaciones--opciones {
  justify-content: center;
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-left: -32px;
  margin-top: -39px; }

.section-a__background .index__destfechas--2, .section-a__background .index__destfechas--3 {
  font-family: 'Poppins';
  font-size: 1px;
  color: #858585;
  position: absolute;
  font-size: 14px;
  top: 51%;
  left: 20.5%; }

.section-a__background .input__wrapper--2 input {
  position: absolute;
  background-color: #eee;
  margin-top: 21.5%;
  margin-left: 20%;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 17rem;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* ------------ contenido gral ------------*/
.nav__backgroundbl {
  background: black;
  background: linear-gradient(90deg, black 0%, #2b2b2b 50%, black 100%); }
  .nav__backgroundbl .ancho-restringido {
    max-width: 850px; }
    .nav__backgroundbl .ancho-restringido .typo-titulo {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      color: white;
      letter-spacing: 3px; }
    .nav__backgroundbl .ancho-restringido .typo-subtitulo {
      font-family: "Poppins", sans-serif;
      font-size: 0.65rem;
      font-weight: 300;
      color: orangered;
      margin-top: .2%;
      margin-left: -1.8%; }
    .nav__backgroundbl .ancho-restringido .navbar-collapse {
      flex-direction: column; }
    .nav__backgroundbl .ancho-restringido .navbar__menu {
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
      margin-left: -10%; }
    .nav__backgroundbl .ancho-restringido .nav-textcolor {
      color: silver; }
    .nav__backgroundbl .ancho-restringido .weather__icon {
      color: orangered; }
    .nav__backgroundbl .ancho-restringido .login-properties {
      margin-left: 200%;
      color: rgba(128, 128, 128, 0.664); }

.nav-backgroundgr {
  background: #fbfbfb;
  background: linear-gradient(90deg, #fbfbfb 0%, #e9e9e9 68%, white 100%); }

.ancho-restringido {
  max-width: 850px; }
  .ancho-restringido .logo__img {
    width: 34px;
    height: 34px; }
  .ancho-restringido .typo-titulo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: white;
    letter-spacing: 3px; }
  .ancho-restringido .typo-titulobl {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: black;
    letter-spacing: 3px; }
  .ancho-restringido .typo-subtitulo {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
    color: orangered;
    margin-left: -1.5%;
    margin-top: -.2%; }
  .ancho-restringido .navdropdown__background {
    background-color: white; }
  .ancho-restringido .navbar-collapse {
    flex-direction: column; }
  .ancho-restringido .navbar__menu {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    margin-left: -10%; }
  .ancho-restringido .nav-textcolorbl {
    color: black; }
  .ancho-restringido .weather__icon {
    color: orangered; }
  .ancho-restringido .login-properties-grey {
    margin-left: 250%; }

.section-a__background {
  background-color: black;
  width: 100%;
  height: 91vh; }
  .section-a__background .index__title {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    position: absolute;
    margin-top: 10%;
    margin-left: 19%;
    color: white; }
  .section-a__background .index__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight: 200;
    position: absolute;
    top: 34.5%;
    left: 41%;
    color: whitesmoke; }
  .section-a__background .index__destfechas {
    font-family: 'Poppins';
    font-size: 1px;
    color: #858585;
    position: absolute;
    font-size: 14px;
    top: 51%;
    left: 20.5%; }
  .section-a__background .index__destfechas--2 {
    left: 42%; }
  .section-a__background .input__wrapper--2 input {
    margin-left: 41%; }
  .section-a__background .input__wrapper--2 input:focus {
    outline-color: orangered; }
  .section-a__background .index__destfechas--3 {
    left: 62.5%; }
  .section-a__background .input__wrapper--3 input {
    position: absolute;
    background-color: #eee;
    margin-top: 21.5%;
    margin-left: 62%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 12rem;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer; }
  .section-a__background .media__icons {
    display: flex;
    color: black;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    transform: translateY(70%);
    margin-left: 100px;
    gap: .7rem; }
    .section-a__background .media__icons .fa-whatsapp, .section-a__background .media__icons .fa-instagram, .section-a__background .media__icons .fa-twitter, .section-a__background .media__icons .fa-facebook, .section-a__background .media__icons .fa-spotify {
      background-color: #2e572e; }
    .section-a__background .media__icons .fa-instagram {
      background-color: #C13584; }
    .section-a__background .media__icons .fa-facebook {
      background-color: #3b5998; }
    .section-a__background .media__icons .fa-twitter {
      background-color: #00acee; }
    .section-a__background .media__icons .fa-spotify {
      background-color: #81b71a; }
    .section-a__background .media__icons .fa-whatsapp, .section-a__background .media__icons .fa-instagram, .section-a__background .media__icons .fa-twitter, .section-a__background .media__icons .fa-facebook, .section-a__background .media__icons .fa-spotify {
      display: flex;
      width: 35px;
      height: 35px;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: #d7d7d7; }
      .section-a__background .media__icons .fa-whatsapp:hover, .section-a__background .media__icons .fa-instagram:hover, .section-a__background .media__icons .fa-twitter:hover, .section-a__background .media__icons .fa-facebook:hover, .section-a__background .media__icons .fa-spotify:hover {
        background-color: #2e572e; }
    .section-a__background .media__icons .fa-instagram:hover {
      background-color: #C13584; }
    .section-a__background .media__icons .fa-twitter:hover {
      background-color: #00acee; }
    .section-a__background .media__icons .fa-facebook:hover {
      background-color: #3b5998; }
    .section-a__background .media__icons .fa-spotify:hover {
      background-color: #81b71a; }

h1, h2, h3, .hero__content p, .mobile-menu__nav {
  font-family: "Poppins", sans-serif; }

h1 {
  font-size: 3.5rem; }

h2 {
  font-size: 1.9rem; }

h3 {
  font-size: 0.8rem; }

h4 {
  font-size: 0.65rem; }

a {
  text-decoration: none; }

.hero {
  background-image: url(https://images.unsplash.com/photo-1563656410378-e5c283afafbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  position: relative; }
  .hero .header {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 90%; }
  .hero .logo {
    width: 2rem; }
  .hero .mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: black;
    position: fixed;
    inset: 0;
    padding: 2rem; }
  .hero .mobile-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .hero .mobile-menu__nav {
    flex-grow: 1;
    display: flex;
    align-items: center; }
  .hero .mobile-menu__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .hero .mobile-menu__nav ul li a {
    color: white;
    font-size: 1.3rem; }
  .hero .open-menu, .hero .close-menu {
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
    cursor: pointer; }
  .hero .hero__content {
    flex-grow: 1;
    display: flex;
    align-items: self-start; }
    .hero .hero__content h1 {
      color: white;
      font-size: 1.9rem;
      font-weight: 700;
      margin-top: 80px;
      letter-spacing: 2px; }
    .hero .hero__content p {
      color: white;
      font-size: 1.3rem;
      margin-top: 85px; }
    .hero .hero__content .hero__buscador {
      font-family: "Poppins", sans-serif;
      color: orangered;
      position: absolute;
      font-size: 1.3rem;
      top: 28%;
      padding: 8px;
      min-width: 350px;
      height: 170px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(5px);
      text-shadow: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      border-right: 1px solid rgba(255, 255, 255, 0.1); }
    .hero .hero__content .hero__buscador--h4 {
      font-size: 0.8rem;
      position: relative;
      margin-left: -86%;
      display: flex;
      font-size: 0.8rem;
      margin-top: 42%; }
    .hero .hero__content .hero-wrapper {
      position: relative;
      margin-left: -14%;
      display: grid;
      align-items: center;
      align-content: space-between;
      margin-top: 47%; }
  .hero .disabled {
    display: none; }

.explora__lugares {
  background-color: black;
  width: 100%;
  height: 100vh; }
  .explora__lugares h2 {
    display: flex;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    padding: 40px; }
  .explora__lugares .explora__lugares--opciones {
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-left: -32px;
    margin-top: -39px; }
  .explora__lugares .carousel__properties {
    height: 300px; }
  .explora__lugares .box {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-left: 105px; }
  .explora__lugares .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: scale(0);
    transition: .8s ease; }
  .explora__lugares .box:hover .capa {
    transform: scale(1); }

.destinos-destacados {
  width: 100%;
  height: 94vh;
  background-color: green; }

.recomendaciones {
  width: 100%;
  height: 148vh;
  background-color: black;
  padding: 10px; }
  .recomendaciones h2 {
    color: white; }
  .recomendaciones h3 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: orangered; }
  .recomendaciones .recomendaciones__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
  .recomendaciones .recomendaciones__grid > div {
    background-image: url(https://lh3.googleusercontent.com/vD190diwJdQCjOZrLLGShsLmSEVELrjWBfaAXgiDfIfJfROeZ-9vXCOC3eMH-tuAj0Pi5hczKw8WFyd81gxkejhjzV7zKWacc_7_OTS9);
    background-size: cover;
    height: 8rem;
    padding: 1rem;
    display: flex;
    align-items: end;
    position: relative;
    isolation: isolate; }
  .recomendaciones .recomendaciones__grid > div::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1; }
  .recomendaciones .recomendaciones__grid > div > h3 {
    color: white;
    font-size: 0.8rem; }
  .recomendaciones .recomendaciones__grid > div:nth-child(1) {
    background-image: url(https://lh3.googleusercontent.com/_NV-yLyrv5iIyin57BQngYEVZTkkTuzHKEB6J1R5Exyw8BdnTMA93p5x46kdO2ONFUNguUEViP3O3IypZO4XzaAeMfz8Mp3FllXqhcs); }
  .recomendaciones .recomendaciones__grid > div:nth-child(2) {
    background-image: url(https://lh3.googleusercontent.com/TfqG-pFMkdoXPRJ-G0DMjAW67gU45C9ZIhbJ0LMXgW7O6wqNBXQ7edkOT0yX3WGlnI3_q9_k2TwAQEDQ0Z_o33zoGy2UBO0jGwWcy9hfxg); }
  .recomendaciones .recomendaciones__grid > div:nth-child(3) {
    background-image: url(https://lh3.googleusercontent.com/sq9sXUJnwLXyrk6PQiOBesp2DnohHbjU8rjPZoLLtHs38vHRWfMx9k6fogRh71RGMHdx5LC2x6gUZfdSqTpi1v49luljsip0k8ASLGvb); }
  .recomendaciones .recomendaciones__grid > div:nth-child(4) {
    background-image: url(https://lh3.googleusercontent.com/O3mhq9kZ7jz1tA8YMax7v2Q_qWYVDtvVdQXTONd-oOXam1wIzFhgnn3wXWKZU3hplhxsRk1OKlSlgVYiKwwNpf75dvX7m5Gqnn1ljMBP); }
