.nav-backgroundgr{
    background: rgb(251,251,251);
    background: linear-gradient(90deg, rgba(251,251,251,1) 0%, rgba(233,233,233,1) 68%, rgba(255,255,255,1) 100%);
}
.ancho-restringido{
    max-width: 850px;
    .logo__img{
        width: 34px;
        height: 34px;
        // margin-left: 100px;
    }
    .typo-titulo{
        font-family: $typo-titulo;
        font-weight: 700;
        color: white;
        letter-spacing: 3px;
    }
    .typo-titulobl{
        font-family: $typo-titulo;
        font-weight: 700;
        color: black;
        letter-spacing: 3px;
    }
    .typo-subtitulo{
        font-family: $typo-titulo;
        font-size: map-get($font-size, h3);
        font-weight: 400;
        color: orangered;
        margin-left: -1.5%;
        margin-top: -.2%;
        
    }
    .navdropdown__background{
        background-color: white;
    }
    .navbar-collapse{
        flex-direction: column;
        }
        .navbar__menu{
            font-family: $typo-titulo;
            font-size: map-get($font-size, h3);
            margin-left: -10%;
        }
        .nav-textcolorbl{
            color: black;
        }
        .weather__icon{
            color: orangered;
        }
        .login-properties-grey{
            margin-left: 250%;
        }
}