.nav__backgroundbl{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 50%, rgba(0,0,0,1) 100%);
}
.ancho-restringido{
    max-width: 850px;
    .typo-titulo{
        font-family: $typo-titulo;
        font-weight: 700;
        color: white;
        letter-spacing: 3px;
    }
    .typo-subtitulo{
        font-family: $typo-titulo;
        font-size: map-get($font-size, h4);
        font-weight: 300;
        color: orangered;
        margin-left: -2.3%;
        margin-top: 0.6%;
        
    }
    .navbar-collapse{
        flex-direction: column;
        }
        .navbar__menu{
            font-family: $typo-titulo;
            font-size: map-get($font-size, h3);
            margin-left: -24%;
        }
        .nav-textcolor{
            color: rgb(192, 192, 192);
        }
        .weather__icon{
            color: orangered;
        }
}

