h1, h2, h3, .hero__content p, .mobile-menu__nav{
    font-family: $typo-titulo;
}
h1{
    font-size: map-get($font-size, h1 );
}
h2{
    font-size: map-get($font-size, h2 );
}
h3{
    font-size: map-get($font-size, h3 );
}
h4{
    font-size: map-get($font-size, h4 );
}
a{
    text-decoration: none;
}
.nav__backgroundbl{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 50%, rgba(0,0,0,1) 100%);
    .ancho-restringido{
        max-width: 850px;
        height: 45px;
        .navbar-collapse{
            flex-direction: column;
            }
            .navbar__menu{
                font-family: $typo-titulo;
                font-size: map-get($font-size, h4);
                margin-left: -10%;
            }
            .nav-textcolor{
                color: map-get($colores--principales, nav-menu );
            }
            .weather__icon{
                color: map-get($colores--secundarios, title-secondary);
            }
            .login-properties{
                margin-left: 200%;
                color: map-get($colores--secundarios, title-politic);;
            }
    }        
}








