/* ------------ variables ------------*/
// google Fonts 
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
$typo-titulo: 'Poppins', sans-serif;


/* ------------ maps ------------*/
//font-sizes
$font-size:(h1: 3.5rem, h2: 2.8rem, hdescrip: 1.3rem, h3: 1rem ,h4: .8rem, terc: .45rem);

//each
@each $font, $value in $font-size {
    .font--#{$font} {
        font-size: $value;
    }
}

//maps
$redes: (
    whatsapp: rgb(46, 87, 46),
    instagram: #C13584,
    facebook: #3b5998,
    twitter: #00acee,
    spotify: #81b71a
);
//map-get
$colores--principales: (nav-menu: rgb(192, 192, 192),);
$colores--secundarios: (
    title-secondary: orangered,
    subtitle-secondary: rgba(133, 133, 133, 1),
    title-politic: rgba(128, 128, 128, 0.664),
    grids-soporte: #d7d7d7,
);

//extend placeholder
%h2{
    display: flex;
    font-family: 'Poppins';
    font-family: $typo-titulo;
    font-size: map-get($font-size, h2);
    font-weight: 500;
    justify-content: center;
    text-align: center;
    padding: 40px;
}
%opciones{
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 1.5rem;
    margin-left: -32px;
    margin-top: -39px;
}
%h4 {
    font-family: 'Poppins';
    font-size: 1px;
    color:  map-get($colores--secundarios, subtitle-secondary );
    position: absolute;
    font-size: 14px;
    top: 51%;
    left: 20.5%;
};
%input__wrapper-input{
    position: absolute;
        background-color: #eee;
        margin-top: 21.5%;
        margin-left: 20%;
        border: none;
        padding: 1rem;
        font-size: 1rem;
        width: 17rem;
        border-radius: 1rem;
        color: black;
        box-shadow: 0 0.4rem #dfd9d9;
        cursor: pointer;
};